ul {
    list-style-type: none;
    /* position: fixed; */
    display: inline-block;
}

.menu{
    float: left;
    background-color:  #333;
    
}

.topnav {
    position: relative;
    background-color: #333;
    /* overflow: hidden; */
    text-align: center;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    /* text-align: center; */
    padding: 18px 40px;
    text-decoration: none;
    font-size: 17px;
  }

li a:hover {
    background-color: #111;
  }
  
  li a {
    display: block;

    padding: 8px;
    background-color: #606060;
  }

  .topnav-centered a {
    float:none;
    position: inherit;
    top: 50%;
    left: 50%;
    /* display: inline-block; */
    list-style-type: none;
    /* transform: translate(-50%, -50%); */
  }

  .logoPic {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    /* top: 0;
    left: 0; */
  }

  /* .logoPic .logoAime img {
    /* display: block; */
    /* max-width: 25%; */
    /* margin-left: auto;
    margin-right: auto; */
  /* } */ 

  .headproductshot img{

    display: block;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;

  }

  .threeproductshots img{ 
    margin-left: auto;
  margin-right: auto;
 

  }
  /* .threesocialmediaicons img { */

  
    /* display: block; */
  /* max-width: 45%; */
  /* margin-left: 65px; */
/* margin-block-start: 0%; */
/* margin-inline-start: 10%; */
/* margin-inline: 10%; */
/* margin-right: -100%; */
  /* } */

  /* .social-media-icons-white a {

    color: black;
    font-size: 2rem; */
  /* } */

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration:none;
    margin-right: 10px;
  }

  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .singleproductpurchase img{
    display: block;
    max-width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
  .singleproduct .btn {
    margin-right: 10px;
  }

  /* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column {
    float: left;
    padding: 5px;
  } */
  
  /* Clear floats after image containers */
  /* .row::after {
    content:'';
    display:inline-block;
    width:100%;
  } */

  
  .container .btn {
    background-color: black;
    color: white;
  }
.bottomright {
    display:block;
        
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  
  .container .btn:hover {
    background-color:indianred;
  }

  hr.solid {
    border-top: 3px solid #7c7c7c;
  }
  .threeproductshots .btn:hover {
    background-color:indianred;
  }

  .threeproductshots .btn {
    background-color: black;
    color: white;
  }

  .singleproduct .btn:hover {
    background-color:indianred;
  }
  .singleproduct .btn {
    background-color: black;
    color: white;
  }

/* .threesocialmediaicons img{
    float:left;
    
} */
.threesociallinks{
    float: left;
}
  @media screen and (max-width: 600px) {

    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}