ul {
    list-style-type: none;
    display: inline-block;
}

.menu{
    float: left;
    background-color:  #333;
    
}

.topnav {
    position: relative;
    background-color: #333;
    text-align: center;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 17px;
  }

li a:hover {
    background-color: #111;
  }
  
  li a {
    display: block;

    padding: 8px;
    background-color: #606060;
  }

  .topnav-centered a {
    float:none;
    position: inherit;
    top: 50%;
    left: 50%;
    list-style-type: none;

  }

  .logoPic {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

  }

  .singleproduct img{

    display: block;
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;

  }

  .threeproductshots img{ 
    margin-left: auto;
  margin-right: auto;
 

  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration:none;
    margin-right: 10px;
  }

  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
 
  .bottomright {
    display:block;
        
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  
  .container .btn:hover {
    background-color:indianred;
  }

  hr.solid {
    border-top: 3px solid #7c7c7c;
  }
  .threeproductshots .btn:hover {
    background-color:indianred;
  }

  .threeproductshots .btn {
    background-color: black;
    color: white;
  }

  .singleproduct .btn:hover {
    background-color:indianred;
  }
  .singleproduct .btn {
    background-color: black;
    color: white;
  }


.threesociallinks{
    float: left;
}

.formatbutton {
    background-color: black;
    color: white;
  }


@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}
@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

  @media screen and (max-width: 600px) {

    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
}